<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../stylesheet/footer.css" />
    <script src="main.js"></script>
</head>
<body>
    <footer class="footer">
 
        <div class="container">
   
        <p>&copy; lasucode Clearance | Privacy Policy | Terms of Service</p>
   
        </div>
   
      </footer>
</body>
</html>